.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: white;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: x-large;
  cursor: pointer;
}

.home,
.about {
  padding: 10px;
  font-size: medium;
  background-color: white;
  border: none;
  align-items: center;
  cursor: pointer;
}

#option-container {
  padding: 10px 0;
  text-align: center;
  font-size: medium;
}

.count-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  box-shadow: 0 1px 3px gray;
  margin-left: auto;
}

.counting-part {
  background-color: black;
  color: white;
  display: flex;
  height: 20px;
  width: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.title-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  color: whitesmoke;
  background-color: black;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: xxx-large;
}

h5 {
  font-size: large;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

.cardDetail-container {
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 280px;
  box-shadow: 0 1px 3px grey;
  border-radius: 5px;
}

.image-container {
  height: 180px;
  background-color: gray;
  border-radius: 5px 5px 0 0;
}

.sale {
  width: 30px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 5px;
  float: right;
  margin: 10px;
}

.contant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 100px;
  /* background-color: red; */
}

.price {
  display: flex;
  gap: 10px;
}

.unprice {
  text-decoration: line-through;
}

.button-container {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.add-button {
  width: 200px;
  padding: 10px;
  background-color: dodgerblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 1px 3px grey;
  opacity: 0.8;
}

.add-button:hover {
  opacity: 1;
}