.nevigationBar{
  display: flex;
  align-items: center;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0px;
}

.nevContainer_1{
  gap: 10px;
  display: flex;
  margin-left: 10px;

}

.nevContainer_2{
  margin-right: 10px;
  align-items: center;
}

.logo{
  font-size: larger;
  align-items: center;
  margin-right:10px ;
}

.nev-btn1{
  background-color: white;
  border: 0px solid white;
}

.nev-btn2{
  margin-top: 5px;
  height: 45px;
  background-color: white;
  border: 1px solid gray;
  width: 100px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;

}

.count_btn{
  border: 1px solid gray;
  height: 35px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}

.count{
  background-color: black;
  color: white;
  height: 18px;
  width: 18px;
  border-radius: 50% 50%;
  text-align: center;
}

.titleCard{
  margin-top: 0px;
  background-color: black;
  color: white;
  height: 200px;
  text-align: center;
}

.title-txt1{
  padding-top: 50px;
  margin-bottom: 0px;
  font-size: 40px;
  margin-top: 0px;
}

.title-txt2{
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 15px;
}

.addCard{
  height: 400px;
  width: 300px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.card-img{
  height: 180px;
  width: auto;
  background-color:gray;
}

.sale{
  background-color: black;
  color: white;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 3px;
  width: 30px;
  text-align: center;
}

.card-priceTag{
  height: 150px;
  text-align: center;
}

.unprice{
  text-decoration-line: line-through;
}

.card-btn{
  position: relative;
  display: flex;
  justify-content: center;
}

.shopCard{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
  /* background-color: aqua; */
}

.add-btn{
  border: 1px solid gray;
  background-color: white;
  border-radius: 3px;
  height: 30px;
  width: 200px;
}

.add-btn:hover{
  background-color: black;
  color: white;
}

.card-btn {
  display: flex;
  justify-content: center;
  position:relative;
}

